html {
  background-color: #FFF1E6;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDDCD2;
  height: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

h1 {
  font-family: "DM Serif Display";
  font-size: 50px;
  color: rgb(161, 125, 106);
}

.book-display-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  width: 900px;
  margin: 50px auto;
}

.book-card {
  background-color: #F0EFEB;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #A5A58D;
}

.book-info-list {
  list-style-type: none;
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-family: "Open Sans";
}
.new-book-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 20%;
}